.form {
    padding: 30px;
    width: 60vw;
    background-color: rgb(1, 19, 11);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0, 110, 81);
    letter-spacing: 1px;
  
    &_title {
      margin-bottom: .5rem;
    }

    &_text {
        width: 100%;
      margin-bottom: 1.2rem;
      border: none;
      border-bottom: 1px solid #ccc;
      background-color: transparent;
      outline: none;
      color:white;  
      font-size: 1.5rem;
      font-family: inherit;
      height: 100px;
      overflow: auto;
    }

  
    &_input {
      width: 100%;
      margin-bottom: 1.2rem;
      border: none;
      border-bottom: 1px solid #ccc;
      background-color: transparent;
      outline: none;
      color:white;  
      font-size: 1.5rem;
      font-family: inherit;

      
    }
  
    &_label {
      margin-bottom: 50px;
    }
  
    &_submit {
        padding:0.5rem 1.2rem 0.5rem 1.5rem;
        margin: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: #16af62;
        text-decoration: none;
        border-radius: 10px;
        border: none;
        transition: 0.4s;
        &:hover {
            background-color: #068043;
            transition: 0.4s;
        }
    }
  
  }